.Humidity-div{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    flex-basis: 20%;
}
.Humidity-div h1{
    color: aqua;
}
.Humidity-div p{
   padding: 10px 20px;
}

@media screen and (max-width: 760px) {
    .Humidity-div{
        height: 60px;
    }
    .Humidity-div p{
        padding: 8px 10px;
        width: 60px;
        font-size: 15px;
     }
}
@media screen and (max-width: 330px) {
    .Humidity-div{
        height: 50px;
    }
    .Humidity-div p{
        padding: 5px 10px;
        width: 60px;
        font-size: 13px;
     }
}
